@font-face {
    font-family: Verdana-Bold;
    src: url(../public/fonts/verdana-bold.ttf);
}

@font-face {
    font-family: Verdana;
    src: url(../public/fonts/verdana.ttf)
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-about{
    background-image: url(./components/assets/dd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
